@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

a.ico2, span.ico2 {
    padding: 1px 0 1px 1.8em;
    background: url(img/ico2.png) no-repeat;
    text-decoration: none;
}

a.icon-rf1 {
    background: url(img/ico2.png) no-repeat -398px -542px;
}

a.icon-rf2 {
    background: url(img/ico2.png) no-repeat -599px -540px;
}

a.icon-rf3 {
    background: url(img/ico2.png) no-repeat -799px -543px;
}

a.icon-rf4 {
    background: url(img/ico2.png) no-repeat -996px -540px;
}

a.icon-del {
    background-position: -200px 2px;
}

a.icon-edit {
    background-position: 0px -100px;
}

a.icon-process {
    background-position: -200px -800px;
}

a.icon-freeze {
    background-position: 0px -601px;
}

a.icon-toknowlege {
    background-position: -800px -50px;
}

a.icon-qa {
    background-position: -400px -800px;
}

a.icon-log {
    background-position: -600px -801px;
}

a.icon-worktime {
    background-position: -800px -800px;
}

a.icon-schflow {
    background-position: -1000px -800px;
}

a.icon-settable {
    background-position: -0px -850px;
}

a.icon-editflow {
    background-position: -200px -850px;
}

a.icon-back2 {
    background-position: -392px -849px;
}

a.icon-add {
    background-position: -600px -150px;
}

a.icon-tblinout {
    background-position: -600px -850px;
}

a.icon-to {
    background-position: -1000px -50px;
}

a.icon-removeto {
    background-position: -200px -600px;
}

a.icon-chart {
    background-position: -1px -800px;
}

a.icon-upload {
    background-position: -1000px -750px;
}

a.icon-empty {
    background-position: 0px -1000px;
}

a.icon-inKm {
    background-position: -200px -1000px;
}

a.icon-inLocalFile {
    background-position: -400px -1000px;
}

a.icon-flowattr {
    background-position: -600px -1000px;
}

a.icon-start {
    background-position: 4px -900px;
}

a.icon-back {
    background-position: -600px -302px;
}

a.icon-close {
    background-position: -200px -200px;
}

a.icon-distribute {
    background-position: -1000px -1110px;
}

a.icon-move {
    background-position: 0px -1150px;
}

a.icon-close {
    background-position: -800px -1150px;
}

a.icon-regain {
    background-position: -0px -1200px;
}

a.icon-tstop {
    background-position: -400px -1150px;
}

a.icon-stop {
    background-position: -600px -1150px;
}

a.icon-start2 {
    background-position: -200px -1150px;
}

a.icon-restart {
    background-position: -1000px -1150px;
}

a.icon-mark {
    background-position: 7px -1300px;
}

a.icon-noico {
    background-position: 50px 25px;
}

span.icon-tool1 {
    background-position: -200px -900px;
}

span.icon-tool2 {
    background-position: -400px -900px;
}

span.icon-tool3 {
    background-position: -600px -900px;
}

span.icon-tool4 {
    background-position: -800px -900px;
}

a.icon-arrow1 {
    background: url(img/info_arrow.png) no-repeat -82px center;
}

a.icon-arrow2 {
    background: url(img/info_arrow.png) no-repeat 10px center;
}

a.flow {
    background-position: -600px -698px;
}

a.icon-showResult {
    background-position: -400px -500px;
}

a.icon-hideResult {
    background-position: -600px -500px;
}

a.icon-refresh {
    background-position: 0px -200px;
}

a.icon-dadd {
    background-position: -800px -500px;
}

a.icon-saveflow {
    background-position: -800px -600px;
}

a.icon-savehome {
    background-position: -1000px -600px;
}

a.icon-agree {
    background-position: -400px -750px;
}

a.icon-leadout {
    background-position: -800px 0px;
}

a.editplan {
    background-position: -998px -1048px;
}

a.editplan:hover {
    background-position: 0px -1110px;
}

a.lookplan {
    background-position: -597px -1107px;
}

a.lookplan:hover {
    background-position: -800px -1110px;
}

a.icon-upload2 {
    background-position: -400px -1110px;
}

a.icon-set {
    background-position: -200px -1110px;
}

a.icon-tadd {
    background-position: -1000px 0px;
}

a.icon-tedit {
    background-position: 0px -50px;
}

a.icon-tdel {
    background-position: -200px -50px;
}

a.icon-sch {
    background-position: -600px -250px;
}

a.icon-cdown {
    background-position: -1000px -850px;
}

a.icon-download {
    background-position: -200px -1200px;
}

a.icon-citeup {
    background-position: -600px -1250px;
}

a.icon-citestandard {
    background-position: -800px -1250px;
}

a.icon-citenostandard {
    background-position: -1000px -1250px;
}

a.icon-tbllook {
    background-position: -200px -1300px;
}

span.icon-template {
    background: url(img/ico.png) no-repeat 0 -150px;
}

span.icon-citeup {
    background-position: -600px -1250px;
}

span.icon-citestandard {
    background-position: -800px -1250px;
}

span.icon-citenostandard {
    background-position: -1000px -1250px;
}

span.icon-del {
    background-position: -200px 2px;
}

span.icon-cupload {
    background-position: -800px -850px;
}

span.icon-cdown {
    background-position: -1000px -850px;
}

span.icon-run {
    background-position: 0px -898px;
}

span.doc {
    background-position: -800px -700px;
}

span.file {
    background-position: -200px -700px;
}

span.status2 {
    background-position: 0px -948px;
}
