<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.earyant.sys.token.dao.TokenMapper">
    <resultMap id="BaseResultMap" type="com.earyant.sys.token.domain.Token">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="token" property="token" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , token, upt_time, appid, app_secret
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from token
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM token
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.earyant.sys.token.domain.Token">
        INSERT INTO token (id, token)
        VALUES (#{id,jdbcType=INTEGER}, #{token,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.earyant.sys.token.domain.Token">
        insert into token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="token != null">
                token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="token != null">
                #{token,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.earyant.sys.token.domain.Token">
        update token
        <set>
            <if test="token != null">
                token = #{token,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.earyant.sys.token.domain.Token">
        UPDATE token
        SET token = #{token,jdbcType=CHAR}
        WHERE id = #{id,jdbcType=INTEGER}


    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from token
    </select>
</mapper>