<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctsig.sys.token.dao.TokenMapper">
    <resultMap id="BaseResultMap" type="com.ctsig.sys.token.domain.Token">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="token" property="token" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, token
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from token
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from token
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ctsig.sys.token.domain.Token">
    insert into token (id, token)
    values (#{id,jdbcType=INTEGER}, #{token,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ctsig.sys.token.domain.Token">
        insert into token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="token != null">
                token,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="token != null">
                #{token,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ctsig.sys.token.domain.Token">
        update token
        <set>
            upt_time = now()
            <if test="token != null">
                , token = #{token,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ctsig.sys.token.domain.Token">
    update token
    set token = #{token,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}


  </update>
</mapper>